body {
  background-color: blanchedalmond;
}
.container {
  margin: 20px auto;
  position: relative;
  width: 541px;
}
table {
  border-collapse: collapse;
  width: 541px;
  height: 541px;
}
td {
  padding: 0;
  border: 1px solid black;
}
.piece {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
}
